# Conhecendo o Dataset

In [622]:
print('ola')

ola

In [623]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [624]:
import pandas as pd

In [625]:
dados = "Datasets/anacondabank_credit_scoring.csv"

In [626]:
df = pd.read_csv(dados)

In [627]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [628]:
df.tail()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
995,0,no checking account,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,< 0 DM,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,no checking account,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,< 0 DM,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,0 <= ... < 200 DM,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [629]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   object
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [630]:
# definir quantidade de linhas
linhas = df.shape[0]
print(f"Quantidade de linhas {linhas}")

Quantidade de linhas 1000

In [631]:
# definir quantidade de colunas
colunas = df.shape[1]
print(f"Quantidade de colunas {colunas}")

Quantidade de colunas 21

In [632]:
duplicados = df.duplicated()
duplicados = duplicados.sum()
print (f"a base de dados tem {duplicados}")

a base de dados tem 0

In [633]:
# verificar nulos
nulos = df.isnull()
nulos.sum()

default                        0
conta_corrente                 0
prazo_emprestimo_meses         0
historico_credito              0
proposito_emprestimo           0
valor_emprestimo               0
reserva_cc                     0
tempo_emprego_atual            0
taxa_comp_salario              0
sexo_est_civil                 0
outros_fiadores                0
anos_residencia_atual          0
propriedade                    0
idade                          0
outros_planos_financiamento    0
tipo_residencia                0
n_creditos_banco               0
status_emprego                 0
n_dependentes                  0
telefone                       0
trabalhador_estrangeiro        0
dtype: int64

# Criando o modelo preditivo

In [634]:
# Identificar valores da variável alvo (target) - variável dependente

y = df['default']
y.head()

0    0
1    1
2    0
3    0
4    1
Name: default, dtype: int64

In [635]:
# Identificar valores das variáveis independentes

x = df.drop(columns='default')
x.head()

,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,outros_fiadores,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,none,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,none,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,guarantor,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,none,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

# Instalando a biblioteca de Machine Learning

In [636]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\ead\desktop\creditscoring_tarde\.venv\lib\site-packages (from scikit-learn) (3.5.0)

# Separe dados de treino e teste

In [637]:
# seprarando 70/30
from sklearn.model_selection import train_test_split
SEED = 77
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=SEED)

In [638]:
# importando
from sklearn.linear_model import LogisticRegression

In [639]:
# Criar Objeto modelo da classe Logistcregression
modelo = LogisticRegression()

In [640]:
# treinamento
# Valores de Treino: X_train e y_train
modelo = LogisticRegression()

# Lembra do conceito de String x Float?

- O que é string? é um tipo de dados que aceita alfa númericos em sintese podemos chamar string de "texto";
- O que é Float? Números decimais, números flutuantes, números reais

# Vamos transformar?

In [641]:
# visualizar o daframe original
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [642]:
df_transformado = df.copy()

In [643]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

# Verificando a primeira coluna (string)

In [644]:
# mostrar valores NÃO duplicados
df_transformado['conta_corrente'].unique()

array(['< 0 DM', '0 <= ... < 200 DM', 'no checking account',
       '>= 200 DM / salary assignments for at least 1 year'], dtype=object)

# Mapeando

In [663]:
# ETAPA 1 - INIQUE
df_transformado['conta_corrente'].unique()  


# ETAPA 2 - DICIONÁRIO
# par:chave (chave:valor)
dict_cc = {
    '< 0 DM':1,
    '<= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}
# mapear (map)
# dataset['coluna'] = dataset['coluna'].map(dicionario)

df_transformado['conta_corrente'] = df_transformado['conta_corrente'].map(dict_cc)

In [646]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1.0,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,NaN,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3.0,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1.0,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1.0,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [647]:
df_transformado['tipo_residencia'].unique()

array(['own', 'for free', 'rent'], dtype=object)

In [648]:
dict_res = {
    'own':1,
    'for free':2,
    'rent':3,
}

In [649]:
df_transformado['tipo_residencia'] = df_transformado['tipo_residencia'].map(dict_res)

In [650]:
df_transformado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               731 non-null    float64
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   int64
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: float64(1), int64(9), object(11)
memory usage: 164.2+ KB

In [651]:
df_transformado['status_emprego'].unique()

array(['skilled employee / official', 'unskilled - resident',
       'management/ self-employed/ highly qualified employee/ officer',
       'unemployed/ unskilled - non-resident'], dtype=object)

In [652]:
dict_status = {
    'skilled employee / official':1,
    'unskilled - resident':2,
    'management/ self-employed/ highly qualified employee/ officer':3,
    'unemployed/ unskilled - non-resident':4
}

df_transformado['status_emprego'] = df_transformado['status_emprego'].map(dict_status)

In [653]:
df_transformado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               731 non-null    float64
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   int64
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   int64
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: float64(1), int64(10), object(10)
memory usage: 164.2+ KB

In [654]:
dict_hc={
    'critical account/ other credits existing (not at this bank)':1,
    'existing credits paid back duly till now':2,
    'delay in paying off in the past':3,
    'no credits taken/ all credits paid back duly':4,
    'all credits at this bank paid back duly':5
}
df_transformado['historico_credito'] = df_transformado['historico_credito'].map(dict_hc)



dict_pe={
    'domestic appliances':1,
    '(vacation - does not exist?)':2,
    'radio/television':3,
    'car (new)':4,
    'car (used)':5,
    'business':6,
    'repairs':7,
    'education':8,
    'furniture/equipment':9,
    'retraining':10
}


df_transformado['proposito_emprestimo'] = df_transformado['proposito_emprestimo'].map(dict_pe)



dict_rc={
    'unknown/ no savings account':1,
    '... < 100 DM':2,
    '500 <= ... < 1000 DM ':3,
    '.. >= 1000 DM ':4,
    '100 <= ... < 500 DM':5
}

df_transformado['reserva_cc'] = df_transformado['reserva_cc'].map(dict_rc)

In [655]:
df_transformado['tempo_emprego_atual'].unique()
print(df_transformado)
dict_cc={
        '.. >= 7 years':1,
        '1 <= ... < 4 years':2,
        '4 <= ... < 7 years':3,
        'unemployed':4,
        '... < 1 year ':5

    }
df_transformado['tempo_emprego_atual'] = df_transformado['tempo_emprego_atual'].map(dict_cc)

     default  conta_corrente  prazo_emprestimo_meses  historico_credito  \
0          0             1.0                       6                  1
1          1             NaN                      48                  2
2          0             3.0                      12                  1
3          0             1.0                      42                  2
4          1             1.0                      24                  3
..       ...             ...                     ...                ...
995        0             3.0                      12                  2
996        0             1.0                      30                  2
997        0             3.0                      12                  2
998        1             1.0                      45                  2
999        0             NaN                      45                  1

     proposito_emprestimo  valor_emprestimo  reserva_cc tempo_emprego_atual  \
0                       1              1169           1       .. >= 7 years
1                       1              5951           2  1 <= ... < 4 years
2                       2              2096           2  4 <= ... < 7 years
3                       3              7882           2  4 <= ... < 7 years
4                       4              4870           2  1 <= ... < 4 years
..                    ...               ...         ...                 ...
995                     3              1736           2  4 <= ... < 7 years
996                     5              3857           2  1 <= ... < 4 years
997                     1               804           2       .. >= 7 years
998                     1              1845           2  1 <= ... < 4 years
999                     5              4576           5          unemployed

     taxa_comp_salario                       sexo_est_civil  ...  \
0                    4                        male : single  ...
1                    2  female : divorced/separated/married  ...
2                    2                        male : single  ...
3                    2                        male : single  ...
4                    3                        male : single  ...
..                 ...                                  ...  ...
995                  3  female : divorced/separated/married  ...
996                  4            male : divorced/separated  ...
997                  4                        male : single  ...
998                  4                        male : single  ...
999                  3                        male : single  ...

    anos_residencia_atual                                        propriedade  \
0                       4                                        real estate
1                       2                                        real estate
2                       3                                        real estate
3                       4  if not A121 : building society savings agreeme...
4                       4                              unknown / no property
..                    ...                                                ...
995                     4                                        real estate
996                     4  if not A121 : building society savings agreeme...
997                     4  if not A121/A122 : car or other, not in attrib...
998                     4                              unknown / no property
999                     4  if not A121/A122 : car or other, not in attrib...

    idade  outros_planos_financiamento tipo_residencia  n_creditos_banco  \
0      67                         none               1                 2
1      22                         none               1                 1
2      49                         none               1                 1
3      45                         none               2                 1
4      53                         none               2                 2
..    ...                          ...             ...               ...
995    31                         none               1                 1
996    40                         none               1                 1
997    38                         none               1                 1
998    23                         none               2                 1
999    27                         none               1                 1

     status_emprego  n_dependentes                                   telefone  \
0                 1              1  yes, registered under the customers name
1                 1              1                                       none
2                 2              2                                       none
3                 1              2                                       none
4                 1              2                                       none
..              ...            ...                                        ...
995               2              1                                       none
996               3              1  yes, registered under the customers name
997               1              1                                       none
998               1              1  yes, registered under the customers name
999               1              1                                       none

    trabalhador_estrangeiro
0                       yes
1                       yes
2                       yes
3                       yes
4                       yes
..                      ...
995                     yes
996                     yes
997                     yes
998                     yes
999                     yes

[1000 rows x 21 columns]

In [656]:
df_transformado['sexo_est_civil'].unique()
print(df_transformado)
dict_cc={
    'male : single':1,
    'female : divorced/separated/married':2,
     'male : divorced/separated':3,
     'male : married/widowed':4
}
df_transformado['sexo_est_civil'] = df_transformado['sexo_est_civil'].map(dict_cc)

     default  conta_corrente  prazo_emprestimo_meses  historico_credito  \
0          0             1.0                       6                  1
1          1             NaN                      48                  2
2          0             3.0                      12                  1
3          0             1.0                      42                  2
4          1             1.0                      24                  3
..       ...             ...                     ...                ...
995        0             3.0                      12                  2
996        0             1.0                      30                  2
997        0             3.0                      12                  2
998        1             1.0                      45                  2
999        0             NaN                      45                  1

     proposito_emprestimo  valor_emprestimo  reserva_cc  tempo_emprego_atual  \
0                       1              1169           1                    1
1                       1              5951           2                    2
2                       2              2096           2                    3
3                       3              7882           2                    3
4                       4              4870           2                    2
..                    ...               ...         ...                  ...
995                     3              1736           2                    3
996                     5              3857           2                    2
997                     1               804           2                    1
998                     1              1845           2                    2
999                     5              4576           5                    4

     taxa_comp_salario                       sexo_est_civil  ...  \
0                    4                        male : single  ...
1                    2  female : divorced/separated/married  ...
2                    2                        male : single  ...
3                    2                        male : single  ...
4                    3                        male : single  ...
..                 ...                                  ...  ...
995                  3  female : divorced/separated/married  ...
996                  4            male : divorced/separated  ...
997                  4                        male : single  ...
998                  4                        male : single  ...
999                  3                        male : single  ...

    anos_residencia_atual                                        propriedade  \
0                       4                                        real estate
1                       2                                        real estate
2                       3                                        real estate
3                       4  if not A121 : building society savings agreeme...
4                       4                              unknown / no property
..                    ...                                                ...
995                     4                                        real estate
996                     4  if not A121 : building society savings agreeme...
997                     4  if not A121/A122 : car or other, not in attrib...
998                     4                              unknown / no property
999                     4  if not A121/A122 : car or other, not in attrib...

    idade  outros_planos_financiamento tipo_residencia  n_creditos_banco  \
0      67                         none               1                 2
1      22                         none               1                 1
2      49                         none               1                 1
3      45                         none               2                 1
4      53                         none               2                 2
..    ...                          ...             ...               ...
995    31                         none               1                 1
996    40                         none               1                 1
997    38                         none               1                 1
998    23                         none               2                 1
999    27                         none               1                 1

     status_emprego  n_dependentes                                   telefone  \
0                 1              1  yes, registered under the customers name
1                 1              1                                       none
2                 2              2                                       none
3                 1              2                                       none
4                 1              2                                       none
..              ...            ...                                        ...
995               2              1                                       none
996               3              1  yes, registered under the customers name
997               1              1                                       none
998               1              1  yes, registered under the customers name
999               1              1                                       none

    trabalhador_estrangeiro
0                       yes
1                       yes
2                       yes
3                       yes
4                       yes
..                      ...
995                     yes
996                     yes
997                     yes
998                     yes
999                     yes

[1000 rows x 21 columns]

In [657]:
df_transformado['outros_fiadores'].unique()


# Dictionary
dict_ofiador_cc = {
    'none': 0,
    'guarantor': 1,
    'co-applicant': 2

}

df_transformado['outros_fiadores'] = df_transformado['outros_fiadores'].map(dict_ofiador_cc)

In [658]:
df_transformado['outros_planos_financiamento'].unique()

dict_opf = {
    'none': 1,
    'bank': 2,
    'stores': 3,
    
}
df_transformado['outros_planos_financiamento'] = df_transformado['outros_planos_financiamento'].map(dict_opf)
print(df_transformado)

     default  conta_corrente  prazo_emprestimo_meses  historico_credito  \
0          0             1.0                       6                  1
1          1             NaN                      48                  2
2          0             3.0                      12                  1
3          0             1.0                      42                  2
4          1             1.0                      24                  3
..       ...             ...                     ...                ...
995        0             3.0                      12                  2
996        0             1.0                      30                  2
997        0             3.0                      12                  2
998        1             1.0                      45                  2
999        0             NaN                      45                  1

     proposito_emprestimo  valor_emprestimo  reserva_cc  tempo_emprego_atual  \
0                       1              1169           1                    1
1                       1              5951           2                    2
2                       2              2096           2                    3
3                       3              7882           2                    3
4                       4              4870           2                    2
..                    ...               ...         ...                  ...
995                     3              1736           2                    3
996                     5              3857           2                    2
997                     1               804           2                    1
998                     1              1845           2                    2
999                     5              4576           5                    4

     taxa_comp_salario  sexo_est_civil  ...  anos_residencia_atual  \
0                    4               1  ...                      4
1                    2               2  ...                      2
2                    2               1  ...                      3
3                    2               1  ...                      4
4                    3               1  ...                      4
..                 ...             ...  ...                    ...
995                  3               2  ...                      4
996                  4               3  ...                      4
997                  4               1  ...                      4
998                  4               1  ...                      4
999                  3               1  ...                      4

                                           propriedade idade  \
0                                          real estate    67
1                                          real estate    22
2                                          real estate    49
3    if not A121 : building society savings agreeme...    45
4                                unknown / no property    53
..                                                 ...   ...
995                                        real estate    31
996  if not A121 : building society savings agreeme...    40
997  if not A121/A122 : car or other, not in attrib...    38
998                              unknown / no property    23
999  if not A121/A122 : car or other, not in attrib...    27

     outros_planos_financiamento  tipo_residencia  n_creditos_banco  \
0                              1                1                 2
1                              1                1                 1
2                              1                1                 1
3                              1                2                 1
4                              1                2                 2
..                           ...              ...               ...
995                            1                1                 1
996                            1                1                 1
997                            1                1                 1
998                            1                2                 1
999                            1                1                 1

     status_emprego  n_dependentes                                   telefone  \
0                 1              1  yes, registered under the customers name
1                 1              1                                       none
2                 2              2                                       none
3                 1              2                                       none
4                 1              2                                       none
..              ...            ...                                        ...
995               2              1                                       none
996               3              1  yes, registered under the customers name
997               1              1                                       none
998               1              1  yes, registered under the customers name
999               1              1                                       none

    trabalhador_estrangeiro
0                       yes
1                       yes
2                       yes
3                       yes
4                       yes
..                      ...
995                     yes
996                     yes
997                     yes
998                     yes
999                     yes

[1000 rows x 21 columns]

In [659]:
df_transformado['propriedade'].unique()
dict_cc_prop = {
    'real estate': 1,
    'if not A121 : building society savings agreement/ life insurance': 2,
    'unknown / no property': 3,
    'if not A121/A122 : car or other, not in attribute 6': 4
}


df_transformado['propriedade'] = df_transformado['propriedade'].map(dict_cc_prop)
print(df_transformado)

     default  conta_corrente  prazo_emprestimo_meses  historico_credito  \
0          0             1.0                       6                  1
1          1             NaN                      48                  2
2          0             3.0                      12                  1
3          0             1.0                      42                  2
4          1             1.0                      24                  3
..       ...             ...                     ...                ...
995        0             3.0                      12                  2
996        0             1.0                      30                  2
997        0             3.0                      12                  2
998        1             1.0                      45                  2
999        0             NaN                      45                  1

     proposito_emprestimo  valor_emprestimo  reserva_cc  tempo_emprego_atual  \
0                       1              1169           1                    1
1                       1              5951           2                    2
2                       2              2096           2                    3
3                       3              7882           2                    3
4                       4              4870           2                    2
..                    ...               ...         ...                  ...
995                     3              1736           2                    3
996                     5              3857           2                    2
997                     1               804           2                    1
998                     1              1845           2                    2
999                     5              4576           5                    4

     taxa_comp_salario  sexo_est_civil  ...  anos_residencia_atual  \
0                    4               1  ...                      4
1                    2               2  ...                      2
2                    2               1  ...                      3
3                    2               1  ...                      4
4                    3               1  ...                      4
..                 ...             ...  ...                    ...
995                  3               2  ...                      4
996                  4               3  ...                      4
997                  4               1  ...                      4
998                  4               1  ...                      4
999                  3               1  ...                      4

     propriedade  idade  outros_planos_financiamento  tipo_residencia  \
0              1     67                            1                1
1              1     22                            1                1
2              1     49                            1                1
3              2     45                            1                2
4              3     53                            1                2
..           ...    ...                          ...              ...
995            1     31                            1                1
996            2     40                            1                1
997            4     38                            1                1
998            3     23                            1                2
999            4     27                            1                1

     n_creditos_banco  status_emprego  n_dependentes  \
0                   2               1              1
1                   1               1              1
2                   1               2              2
3                   1               1              2
4                   2               1              2
..                ...             ...            ...
995                 1               2              1
996                 1               3              1
997                 1               1              1
998                 1               1              1
999                 1               1              1

                                      telefone trabalhador_estrangeiro
0    yes, registered under the customers name                      yes
1                                         none                     yes
2                                         none                     yes
3                                         none                     yes
4                                         none                     yes
..                                         ...                     ...
995                                       none                     yes
996  yes, registered under the customers name                      yes
997                                       none                     yes
998  yes, registered under the customers name                      yes
999                                       none                     yes

[1000 rows x 21 columns]

In [660]:
df_transformado['telefone'].unique() 

dict_telefone = {
    'yes, registered under the customers name ':1,
    'none':0,
}

df_transformado['telefone'] = df_transformado['telefone'].map(dict_telefone)


df_transformado['trabalhador_estrangeiro'].unique()


dict_trabalhador_estrangeiro = {
    'yes':1,
    'no':0,
}

df_transformado['trabalhador_estrangeiro'] = df_transformado['trabalhador_estrangeiro'].map(dict_trabalhador_estrangeiro)

In [661]:
df_transformado.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1.0,6,1,1,1169,1,1,4,1,...,4,1,67,1,1,2,1,1,1,1
1,1,NaN,48,2,1,5951,2,2,2,2,...,2,1,22,1,1,1,1,1,0,1
2,0,3.0,12,1,2,2096,2,3,2,1,...,3,1,49,1,1,1,2,2,0,1
3,0,1.0,42,2,3,7882,2,3,2,1,...,4,2,45,1,2,1,1,2,0,1
4,1,1.0,24,3,4,4870,2,2,3,1,...,4,3,53,1,2,2,1,2,0,1

In [662]:
df_transformado['conta_corrente'].unique()

array([ 1., nan,  3.,  4.])